In [126]:
# Basic libraries
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action = 'ignore')

In [127]:
# Importing datasets
anime = pd.read_csv(r'C:\Users\Donlyone7\OneDrive\Desktop\Anime recommender\Dataset\anime.csv')
syn = pd.read_csv(r'C:\Users\Donlyone7\OneDrive\Desktop\Anime recommender\Dataset\anime_with_synopsis.csv')

In [128]:
anime.head()

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0

In [129]:
syn.head()

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [130]:
# Adding 'Type' and 'Episodes' column from 'anime' to 'syn'
syn = syn.assign(Type = anime['Type'], Episodes = anime['Episodes'])

In [131]:
syn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16214 entries, 0 to 16213
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MAL_ID     16214 non-null  int64
 1   Name       16214 non-null  object
 2   Score      16214 non-null  object
 3   Genres     16214 non-null  object
 4   sypnopsis  16206 non-null  object
 5   Type       16214 non-null  object
 6   Episodes   16214 non-null  object
dtypes: int64(1), object(6)
memory usage: 886.8+ KB

In [132]:
# Checking for null values
syn.isnull().sum()

MAL_ID       0
Name         0
Score        0
Genres       0
sypnopsis    8
Type         0
Episodes     0
dtype: int64

In [133]:
# Checking for duplicates
syn.duplicated().sum()

0

In [134]:
# Dropping null values
syn = syn.dropna()

In [135]:
syn.head()

,MAL_ID,Name,Score,Genres,sypnopsis,Type,Episodes
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever...",TV,26
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ...",Movie,1
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0...",TV,26
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...,TV,26
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...,TV,52

In [136]:
syn.loc[0, 'sypnopsis']

'In the year 2071, humanity has colonized several of the planets and moons of the solar system leaving the now uninhabitable surface of planet Earth behind. The Inter Solar System Police attempts to keep peace in the galaxy, aided in part by outlaw bounty hunters, referred to as "Cowboys." The ragtag team aboard the spaceship Bebop are two such individuals. Mellow and carefree Spike Spiegel is balanced by his boisterous, pragmatic partner Jet Black as the pair makes a living chasing bounties and collecting rewards. Thrown off course by the addition of new members that they meet in their travels—Ein, a genetically engineered, highly intelligent Welsh Corgi; femme fatale Faye Valentine, an enigmatic trickster with memory loss; and the strange computer whiz kid Edward Wong—the crew embarks on thrilling adventures that unravel each member\'s dark and mysterious past little by little. Well-balanced with high density action and light-hearted comedy, Cowboy Bebop is a space Western classic and an homage to the smooth and improvised music it is named after.'

In [137]:
# Converting 'sypnopsis' into list
syn['sypnopsis'] = syn['sypnopsis'].str.replace(',', '').str.split().tolist()
syn['Genres'] = syn['Genres'].str.replace(',', '').str.split().tolist()

In [138]:
syn.head()

,MAL_ID,Name,Score,Genres,sypnopsis,Type,Episodes
0,1,Cowboy Bebop,8.78,"[Action, Adventure, Comedy, Drama, Sci-Fi, Space]","[In, the, year, 2071, humanity, has, colonized...",TV,26
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"[Action, Drama, Mystery, Sci-Fi, Space]","[other, day, another, bounty—such, is, the, li...",Movie,1
2,6,Trigun,8.24,"[Action, Sci-Fi, Adventure, Comedy, Drama, Sho...","[Vash, the, Stampede, is, the, man, with, a, $...",TV,26
3,7,Witch Hunter Robin,7.27,"[Action, Mystery, Police, Supernatural, Drama,...","[ches, are, individuals, with, special, powers...",TV,26
4,8,Bouken Ou Beet,6.98,"[Adventure, Fantasy, Shounen, Supernatural]","[It, is, the, dark, century, and, the, people,...",TV,52

In [139]:
syn.loc[0, 'Genres']

['Action', 'Adventure', 'Comedy', 'Drama', 'Sci-Fi', 'Space']

In [140]:
syn['keyword'] = syn['Genres'] + syn['sypnopsis']

In [141]:
syn.head()

,MAL_ID,Name,Score,Genres,sypnopsis,Type,Episodes,keyword
0,1,Cowboy Bebop,8.78,"[Action, Adventure, Comedy, Drama, Sci-Fi, Space]","[In, the, year, 2071, humanity, has, colonized...",TV,26,"[Action, Adventure, Comedy, Drama, Sci-Fi, Spa..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"[Action, Drama, Mystery, Sci-Fi, Space]","[other, day, another, bounty—such, is, the, li...",Movie,1,"[Action, Drama, Mystery, Sci-Fi, Space, other,..."
2,6,Trigun,8.24,"[Action, Sci-Fi, Adventure, Comedy, Drama, Sho...","[Vash, the, Stampede, is, the, man, with, a, $...",TV,26,"[Action, Sci-Fi, Adventure, Comedy, Drama, Sho..."
3,7,Witch Hunter Robin,7.27,"[Action, Mystery, Police, Supernatural, Drama,...","[ches, are, individuals, with, special, powers...",TV,26,"[Action, Mystery, Police, Supernatural, Drama,..."
4,8,Bouken Ou Beet,6.98,"[Adventure, Fantasy, Shounen, Supernatural]","[It, is, the, dark, century, and, the, people,...",TV,52,"[Adventure, Fantasy, Shounen, Supernatural, It..."

In [142]:
final = syn.drop(columns = ['Genres', 'sypnopsis'])

In [143]:
final.head(1)

,MAL_ID,Name,Score,Type,Episodes,keyword
0,1,Cowboy Bebop,8.78,TV,26,"[Action, Adventure, Comedy, Drama, Sci-Fi, Spa..."

In [168]:
# Convert the 'Score', 'Type', 'Episodes', and 'keyword' columns into a feature matrix
features = final[['keyword']].astype(str).values

In [169]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [173]:
# Apply text vectorization to the 'keyword' column using the CountVectorizer
vectorizer = CountVectorizer()
keyword_matrix = vectorizer.fit_transform(features[:, 0])

In [174]:
# Calculate the cosine similarity matrix based on the feature matrix
similarity_matrix = cosine_similarity(keyword_matrix)

In [180]:
# Define a function to get anime recommendations based on a given anime
def recommend_anime(anime_title, similarity_matrix, data, top_n=5):
    index = data[data['Name'] == anime_title].index[0]
    similarity_scores = list(enumerate(similarity_matrix[index]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    top_anime_indices = [score[0] for score in similarity_scores[1:top_n+1]]
    top_anime_data = data[['Name', 'Score', 'Type', 'Episodes']].iloc[top_anime_indices]
    top_anime_data = top_anime_data.sort_values('Score', ascending=False)
    return top_anime_data

In [181]:
# Now we can use the recommend_anime() function to get recommendations.
# Provide the name of an anime and it will return the top recommended anime

In [196]:
anime_title = 'Attack on Titan'
recommendations = recommend_anime(anime_title, similarity_matrix, final)
print(recommendations)

IndexError: index 0 is out of bounds for axis 0 with size 0